* {
  font-family: poppins;
}
#logo {
  border-radius: 50px;
  width: 8%;
}
#bod {
  background-color: #e2dfdf79;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}
header input {
  border: none;
  background-color: #eae8e8;
  border-radius: 25px;
  width: 40%;
}
header h2 {
  font-weight: 400;
  width: 30%;
  display: inline;
  color: black;
  margin-right: 4rem;
}
header button {
  border: none;
  color: #686565;
  background-color: white;
  margin-left: 5px;
}

header {
  justify-content: center;
  align-items: center;
}

header input:active {
  border: none;
}
img {
  max-width: 100%;
}
.recipe-container {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  background-color: white;
  width: 1500px;
  text-align: center;
  box-shadow: 0 0 10px 2px #a7a4a4;
}
.favs-container {
  /* margin-top: 2rem;
    margin-bottom: 2rem; */
  /* align-items: end; */
  background-color: rgb(233, 199, 255);
}

.favs-container ul {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  list-style-type: none;
  margin: 0px;
  margin-left: 5%;
  padding: 0px;
}
.favs-container ul li {
  margin: 0.5rem;
}
.fav-items {
  position: relative;
  animation: grow;
  animation-duration: 1s;
}
@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.favs-container ul li p {
  font-size: small;
  /* max-width:30px; */
  width: 75px;
  height: 20px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}
.favs-container ul {
  position: relative;
}
.favs-container ul li:hover img {
  transform: scale(1.17);
  box-shadow: 0 0 10px 2px #575353;
  z-index: 3;
}
#cross {
  top: 5px;
  color: red;
  background-color: white;
  position: absolute;
  display: none;
  font-size: 23px;
  z-index: 1;
  border-radius: 50%;
}
#cross:hover {
  transform: scale(1.3);
}
.favs-container ul li:hover #cross {
  display: block;
  position: absolute;
}

.favs-container img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  box-shadow: 0 0 10px 2px #9a9898;
  border: 1px solid white;
  overflow: hidden;
}

.meals-page {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}
.food {
  box-shadow: 0 0 10px 2px #dddada;
  width: 29%;
  margin: 10px;
  position: relative;
  animation: example;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
@keyframes example {
  0% {
    left: 0px;
    top: 20px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
@media only screen and (max-width: 700px) {
  header h2 {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .food {
    width: 80%;
  }
  .recipe-container {
    width: 70%;
  }
  .meals-page {
    justify-content: center;
  }
  header {
    width: 90%;
  }
}
.info-body ul {
  width: 60%;
}
@media only screen and (max-width: 480px) {
  .recipe-container {
    width: 100%;
  }
  .food {
    width: 80%;
  }
  .meals-page {
    justify-content: center;
  }
  .info-body {
    flex-direction: column;
  }
  .info-body ul {
    width: 100%;
  }
}
@media only screen and (max-width: 1700px) and (min-width: 1000px) {
  .food {
    width: 43%;
  }
  .recipe-container {
    width: 70%;
  }
}
.food:hover {
  transform: scale(1.04);
  box-shadow: 0 0 10px 2px #4e4a4a;
}
.food-header {
  position: relative;
}

.food-header img {
  width: 100%;
  height: 13rem;
  object-fit: cover;
}
@keyframes random-animation {
  0% {
   height:0%;
    color: white;
    opacity: 20%;
  }
  70% {
    color: white;
  }
  100% {
   height:20%;
    color: black;
    opacity: 100%;
  }
}
.food-header p {
  height:20%;
  position: absolute;
  text-align: start;
  background-color: white;
  padding: 8px;
  font-weight: 600;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  animation: random-animation;
  animation-duration: 1s;
  animation-timing-function: ease;
  overflow: hidden;
  top: 15px;
}

.food-body {
  display: flex;
  justify-content: space-between;
}
.food-body p {
  font-size: 1.3rem;
  display: inline;
}

.food-body button {
  border: none;
  background-color: white;
  font-size: 1.5rem;
}
.food-body .grey-b {
  color: gray;
}
.food-body .red-b {
  color: red;
}

#showmore {
  border: 1px solid grey;
  border-radius: 25px;
  padding: 10px;
}
#showmore:hover {
  border: 1px solid rgb(241, 239, 239);
  background-color: rgb(175, 174, 174);
  border-radius: 25px;
  padding: 10px;
}

/* infooo */
.info-page {
  position: fixed;
  background-color: rgb(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-hidden {
  opacity: 100;
  pointer-events: all;
}
.bg-not-hidden {
  opacity: 0;
  pointer-events: none;
}
.info-container {
  background-color: white;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 1100px;
  height: 95%;
  overflow: auto;
  position: relative;
  box-shadow: 0 0 10px 2px #3e3b3b;
  border-radius: 5px;
}
.info-container h3 {
  width: 95%;

  font-size: 35px;
  text-align: center;
  padding: 10px;
  font-weight: 600;
}
.info-container p {
  font-size: smaller;
}
.info-container button {
  position: sticky;
  top: 10px;
  border: none;
  font-size: 25px;
  color: rgb(65, 65, 65);
  background-color: transparent;
}
.info1 h4 {
  display: block;
  text-align: start;
  width: 80%;
}
.info-body {
  width: 100%;
  display: flex;
}
.info-body h5 {
  margin: 10px;
  padding: 5px;
  font-size: large;
}
.info-body img {
  max-width: 30rem;
  height: max-content;
  padding: 10px;
  margin: 20px;
}
.info-body ul {
  margin: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style-type: decimal;
}
.info-body ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48%;
}
.info-body ul li h6 {
  margin: 4px;
  padding: 2px;
}
.info-body ul li p {
  margin: 0px;
}
.info1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info1 p {
  max-width: 85%;
  font-size: large;
  margin-bottom: 20px;
  margin-top: 20px;
}
#vid {
  width: 70%;
  height: 25rem;
  margin: 25px;
  padding-bottom: 20px;
  box-shadow: 0 0 10px 2px #868585;
  border-radius: 7px;
}
